# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
*/node_modules
*/server/node_modules

# testing
/coverage

# production
/build

# misc
.idea
.vscode
.DS_Store
# .env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-lock.log*
yarn.lock*
package-lock.json*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# GIT
.editorconfig
.gitattributes

# Vim

*~
*.swp
*.swo

#pycharm
.idea/
.vscode
#heroku
heroku.log

staticfiles
media/
CACHE/
media
CACHE
