@import "@/assets/scss/global.scss";
#home {
  background-color: white;
  #hero-container{
    #search-for-a-question-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 56%;
      #search-for-a-question-container-bottom{
        background-color: white;
        @include border-radius(3px);
        @include box-shadow(0px, 4px, 6px, rgba(219,228,224,1));
        display: flex;
        align-items: center;
        padding: 0 20px;
        width: 79%;
        input{
          border: none;
          background-color: transparent;
          padding:0;
        }
        input:focus{
          @include box-shadow-none();
        }
        ::placeholder{
          @include gluu-text(17px, #838C88, $font-family-base);
        }
      }
    }
  }
  #select-ticket-category-container{
    flex-wrap: wrap;
    .col-12{
      padding:0 10em;
      .gluu-tile{
        background-color: #FFFFFF;
        border: 1px solid #EFF1F4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5em 1em;
        height: 150px;
        margin: 0.5em;
        flex: 20%;
        width: fit-content;
        @include box-shadow(0, 1px, 4px, rgba(228,231,235,1));
        @include border-radius(3px);

        &:hover {
          color: $base-color;
          border: 2px solid $base-color;
          padding: .4em .9em;
          margin: 0.5em;
          
          @include box-shadow(0, 8px, 16px, rgba(231,234,236,1));

          svg {
            fill: $base-color;
            .path-with-stroke {
              stroke: $base-color;
            }
          }
        }
      }
    }
  }
}