@import "@/assets/scss/global.scss";
#dashboard-container {
  .card-body {
    padding: 0;
  }
  .card-header-gluu {
    .card-title-gluu{
      @include gluu-text(22px, $font-color-base, $font-family-lato-semi-bold);
    }
    button{
      @extend %gluu-outline-no-hover-btn;
    }
  }
  .custom-checkbox{
    .custom-control-input:focus ~ .custom-control-label::before{
      @include box-shadow-none();
    }
    .custom-control-label{
        font-size: 16px;
        color: #181F1C;
        font-family: "LatoWebSemibold";

    }
    .custom-control-label::before{
        border-radius: 2px !important;
    }
    .custom-control-input:not(:disabled):active ~ .custom-control-label::before{
        border: #adb5bd solid 1px;
        background-color: transparent;
    }
    .custom-control-input:checked ~ .custom-control-label::before{
        color: #fff;
        border-color: #00B372;
        background-color: #00B372;
    }
    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
        border: #adb5bd solid 1px;
    }
  }
}

#notifications-tab{
  #inner-tabs{
    .nav.nav-tabs{
      border-bottom: 1px solid #F4F4F4;
      .nav-item {
        margin-left: 0.5em;
      }
      .nav-item a {
        border-top:none;
        border-left:none;
        border-right:none;
        border-bottom: 1px solid #F4F4F4;
        @include gluu-text(14px, $font-color-base, $font-family-lato-semi-bold);
      }
      .nav-item a.active {
        color: $base-color;
        border-top:none;
        border-left:none;
        border-right:none;
        border-bottom: 1px solid $base-color;
      }
    }
    .tab-content{
      padding:0 24px;
      margin-top: 2em !important;
      #all-activities-tab{
        .ticket-created-notification{
          div:first-child{
            @include gluu-text(15px,#434947,$font-family-lato-semi-bold);
          }
          .response{
            padding:13px 20px;
            border:1px solid #ECEEF1;
            background-color: #F8F9FA;
            border-radius: 4px;
            div:nth-child(1){
              @include gluu-text(16px, $font-color-base, $font-family-lato-semi-bold);
            }
            div:nth-child(2){
              @include gluu-text(14px, $font-color-base, $font-family-base);
            }
            div:nth-child(3){
              @include gluu-text(14px, $font-color-base, $font-family-base);
              font-style: italic;
            }
          }
        }
        .ticket-responses-notification{
          .reply-from{
            @include gluu-text(15px, $base-color, $font-family-lato-semi-bold);
            font-style: italic;
          }
          .response{
            padding:13px 20px;
            border:1px solid #ECEEF1;
            background-color: #F8F9FA;
            border-radius: 4px;
            div:nth-child(1){
              @include gluu-text(16px, $font-color-base, $font-family-lato-semi-bold);
            }
            div:nth-child(2){
              @include gluu-text(14px, $font-color-base, $font-family-base);
            }
            div:nth-child(3){
              @include gluu-text(14px, $font-color-base, $font-family-base);
              font-style: italic;
            }
          }
        }
        .ticket-activity-status{
          div:nth-child(1){
            @include gluu-text(16px,$font-color-base,$font-family-lato-semi-bold);
          }
          div:nth-child(2){
            @include gluu-text(14px,#4B504E,$font-family-base);
            font-style: italic;
          }
        }
      }
      #your-activities-tab{
        outline-color: transparent;
        .ticket-created-notification{
          .notification-event{
            @include gluu-text(15px,#434947,$font-family-lato-semi-bold);
            span{
              @include gluu-text(14px,#76827E,$font-family-lato-Medium)
            }
          }
          .notification-event-time{
            @include gluu-text(14px,#76827E,$font-family-lato-semi-bold);
          }
          .response{
            padding:13px 20px;
            border:1px solid #ECEEF1;
            background-color: #F8F9FA;
            border-radius: 4px;
            @include gluu-text(14px,#434947, $font-family-base);
            .response-heading{
              @include gluu-text(16px,$base-color,$font-family-lato-semi-bold);
            }
          }
        }
        .ticket-responses-notification{
          .notification-event{
            @include gluu-text(15px,#434947,$font-family-lato-semi-bold);
            span{
              @include gluu-text(14px,#76827E,$font-family-lato-Medium)
            }
          }
          .notification-event-time{
            @include gluu-text(14px,#76827E,$font-family-lato-semi-bold);
          }
          .response{
            padding:13px 20px;
            border:1px solid #ECEEF1;
            background-color: #F8F9FA;
            border-radius: 4px;
            div:nth-child(1){
              @include gluu-text(14px, #434947, $font-family-base);
            }
          }
        }
        .ticket-responses-notification-2{
          .notification-event{
            @include gluu-text(15px,#434947,$font-family-lato-semi-bold);
            span{
              @include gluu-text(14px,#76827E,$font-family-lato-Medium)
            }
          }
          .notification-event-time{
            @include gluu-text(14px,#76827E,$font-family-lato-semi-bold);
          }
          .response{
            padding:13px 20px;
            border:1px solid #ECEEF1;
            background-color: #F8F9FA;
            border-radius: 4px;
            .highlighted-area{
              background-color: #FFFFFF;
              border:1px solid #E9ECF0;
              border-radius: 3px;
              @include gluu-text(14px,#434947,$font-family-base);
              padding: 1em 2em;
            }
          }
        }
        .ticket-activity-status{
          div:nth-child(1){
            @include gluu-text(16px,$font-color-base,$font-family-lato-semi-bold);
          }
          div:nth-child(2){
            @include gluu-text(14px,#4B504E,$font-family-base);
            font-style: italic;
          }
        }
      }
    }
  }
  #manage-notifications-settings{
    div:nth-child(1){
      @include gluu-text(14px,#434947,$font-family-lato-semi-bold);
    }
    hr{
      margin: 24px;
      border-top: 1px solid #ECEEF1;
    }
    #notifications-settings-checkbox-container{
      .notifications-settings-checkbox-column-content{
        div{
          margin:0.25em 0;
          label{
            @include gluu-text(15px,#434947,$font-family-lato-Medium);
          }
        }
      }
    }
  }
}
