@import "@/assets/scss/global.scss";
#nav-tabs-container {
  background-color: white;
  border: 1px solid #EBEBEB;
  z-index: 1;
  position: relative;
  bottom: 1px;
  padding: 0.5em 0 0 0;

  .dropdown-menu.show {
    border: none;
    @include box-shadow(0px, 20px, 40px, rgba(221,228,226,1))
  }

  .dropdown-toggle-no-caret:hover {
    padding-bottom: 5px;
  }

  .nav-item-gluu .nav-link:hover {
    padding-bottom: 6px;
  }

  .nav-item-gluu .nav-link,
  .dropdown-toggle-no-caret {
    text-decoration: none;
    @include transition(0.2s);
    @include gluu-text(16px, $font-color-base, $font-family-lato-Medium);
    &:hover {
      border-bottom: 2px solid $base-color;
    }
  }
}