@import "@/assets/scss/global.scss";
#ticket-details-page-container {
  background: white;
  p{
    font-size: 15px;
  }

  #breadcrumbs-container {

    .breadcrumb {
      background: white;
    }
    .breadcrumb-item {
      a {
        @include gluu-text(16px, $secondary-text-color, $font-family-lato-Medium, true);
      }

      &:active, &.active {
        @include gluu-text(16px, $font-color-base, $font-family-lato-Medium);
      }
    }
  }
}

.ticket-details-content-header-container{
  .ticket-details-header{
    @include gluu-text(24px, $font-family-base, $font-color-base);
    span{
      @include gluu-text(24px, $font-family-base, #787E7B);
    }
  }

  .ticket-details-subheader{
    padding-top: 15px;
    .gluu-icon-btn {
      @extend %gluu-icon-btn;
      padding: 2px 12px 5px 12px;
    }
    .gluu-outline-no-hover-btn{
      @extend %gluu-outline-no-hover-btn;
      padding: 0.4em 1.5em;
      margin-left: 0.5em;
    }
  }
}
.user-details-container{
  .card-left-side-gluu{
    padding: 0;
    img{
      width: 54px;
    }
    .card-left-side-info-name-gluu{
      @include gluu-text(13px, $font-color-base, $font-family-lato-semi-bold);
    }
    .card-left-side-info-company-gluu{
      @include gluu-text(12px, #787E7B, $font-family-base);
    }
    .card-left-side-info-type-gluu{
      @include gluu-text(12px, $font-color-base, $font-family-base);
    }
    .card-left-side-info-usertype-gluu{
      @extend %gluu-normal-no-hover-btn;
      padding: 2px 10px;
      font-weight: 400;
      width: fit-content;
    }
  }
}

.ticket-details-content-container{

  .see-more-link{
   margin-left: 1em;
    @include gluu-text(14px, $font-family-lato-semi-bold, #5D91F0)
  }
  .card{
    border: 1px solid #E3E7EA;
    .card-header{
      @include gluu-text(14px, #434947, $font-family-base);
      background-color: #F1F5F9;
      .ticket-details-content-copy-link-btn-gluu,
      .ticket-details-content-copy-link-btn-gluu:focus,
      .ticket-details-content-edit-btn-gluu:focus,
      .ticket-details-content-edit-btn-gluu{
        background-color: transparent;
        border: none;
        padding: 3px 12px;
        @include gluu-text(14px, #434947, $font-family-lato-semi-bold);
        @include box-shadow-none;
      }
      .ticket-details-content-ellipsis-icon-gluu{
        padding: 3px 12px;
      }
    }
  }
}

#deleteTicketModal{
  .modal-content {
    width: fit-content;
    .modal-body {
      padding:24px;
      button:first-child{
        color: $base-color;
      }
      button {
        @include gluu-text(16px, black, $font-family-lato-Medium);
        margin: 0.25em;
        background-color: transparent;
        border:none;
      }
    }
  }
}