@import "@/assets/scss/global.scss";
#dashboard-sidebar-container {
  .card-body{
    padding: 0;
    .information-container{
      .edit-icon-container{
        position: absolute;
        width: fit-content;
        height: fit-content;
        margin-left: 1.5em;
        margin-top: 1em;
        .edit-icon{
          cursor: pointer;
        }
      }
      .avatar-image{
        width: 4em;
        height: 4em;
      }
    }
    .information-container div:nth-child(1){
      @include gluu-text(20px, $font-color-base, $font-family-lato-Medium);
    }
    .information-container div:nth-child(2){
      @include gluu-text(14px, #76827E, $font-family-lato-Medium);
    }
    .information-container div:nth-child(3){
      @include gluu-text(14px, #434947, $font-family-lato-Medium);
    }
    .stats-container > div > div > div > div > div:first-child{
      @include gluu-text(20px,$font-color-base,$font-family-lato-Medium);
    }
    .stats-container > div > div > div > div > div:nth-child(2){
      @include gluu-text(14px,#76827E,$font-family-lato-Medium);
    }
  }

  #dashboard-sidebar-links {
    .nav-link {
      padding-left: 0; 
    }
    .gluu-sidebar-link {
      border: none;
      border-radius: 0;
      padding: 8px 2.5em;
      @include gluu-text(16px, $font-color-base, $font-family-lato-semi-bold);
      &.active {
        border-left: 2px solid $base-color;
        padding: 8px 2.38em;
        @include gluu-text(16px, $base-color, $font-family-lato-semi-bold);
      }
    }
  }
}