@import "global.scss";
@import "font";

body {
}

a:focus,
button:focus {
  box-shadow: none !important;
  outline-color: transparent;
}

a {
  text-decoration: none !important;
}

.multiselect__single {
  margin-bottom: 0;
}

.multiselect__select {
  padding: 9px 14px;
}

.multiselect__select:before {
  display: none;
}

.single-select .multiselect__select:before {
  display: initial;
}

.multiselect__tags {
  border: none;
  padding: 9px 14px;
  border-radius: 3px;
}

.multiselect__placeholder {
  margin-bottom: 0;
  padding-top: 0;
  color: #6a7570;
}

.multiselect__input {
  max-width: 100%;
  @include gluu-text(15px, $font-color-base, $font-family-lato-Medium);
}

.gluu-normal-btn {
  @include gluu-btn(
    $normal-btn-bg-color,
    $normal-btn-color,
    $normal-btn-hover-color,
    $normal-btn-disabled-bg-color,
    $normal-btn-disabled-color
  );
  border: none;
}

.gluu-outline-btn {
  @include gluu-btn(
    $outline-btn-bg-color,
    $outline-btn-color,
    $outline-btn-hover-color,
    $outline-btn-disabled-bg-color,
    $outline-btn-disabled-color
  );
  border: 1px solid $outline-btn-border-color !important;
}

.gluu-icon-action-btn {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

// Navbar Component //

#nav-container {
  background-color: white;
  border: 1px solid #f5f7f9;
  z-index: 3;
  position: relative;
  @include box-shadow(0, 3px, 6px, rgba(0, 0, 0, 0.03));

  .nav-dropdown-gluu {
    button {
      padding: 0;
    }
    svg {
      display: none;
    }
    .dropdown-menu.show {
      left: -6em !important;
      top: 0.5em !important;
      border: none;
      @include box-shadow(0px, 20px, 40px, rgba(221, 228, 226, 1));
    }
  }

  .navbar-light .navbar-toggler,
  .navbar-light .navbar-toggler:focus {
    border: none;
    outline: none;
  }

  .nav-item-gluu .nav-link {
    @include gluu-text(16px, $font-color-base, $font-family-lato-Medium);
    @include transition(0.2s);
  }
}

.overloading-spinner-text {
  z-index: 1000;
  position: absolute;
  text-align: center;
  height: 2rem;
  width: 20rem;
  top: calc(50vh + 4rem);
  left: calc(50vw - 10rem);
}

// Footer Component

#footer-container {
  background-color: white;
  border-top: 1px solid #f3f5f7;
  padding: 3.5em 6em 1em;
  .footer-container-item {
    div:first-child {
      color: #34495c;
    }
    ul {
      padding-left: 0;
      list-style: none;
      li {
        margin: 1em 0;
        a {
          color: #6f757b;
          text-decoration: none;
        }
      }
    }
  }
  .first-part-lower-footer {
    color: #34495c;
    flex: 40%;
    div {
      color: #34495c;
      a {
        text-decoration: none;
        color: #34495c;
      }
    }
  }
  .second-part-lower-footer {
    display: flex;
    justify-content: center;
    flex: 20%;
  }
  .third-part-lower-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 40%;
    div:nth-child(2) {
      margin-left: 1em;
      svg {
        margin: 0 0.5em;
      }
    }
  }
}
