body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #f4f5f7;
  position: relative;
  padding-top: 4em;
  padding-bottom: 20em;
}

.app-body {
  flex-grow: 1;
  background-color: #fff;
  padding-bottom: 8em;
  padding-left: 1em;
  padding-right: 1em;
  word-break: break-all;
  overflow-x: hidden;
}

.chip {
  margin: auto;
}

.chip.light-blue {
  background-color: rgba(31, 191, 221, 0.15);
  color: #1fbfdd;
}

.chip.green {
  background-color: rgba(65, 204, 34, 0.15);
  color: #41cc22;
}

.chip.gray {
  background-color: rgba(0, 0, 0, 0.15);
  color: #4a4a4a;
}

.chip.yellow {
  background-color: rgba(255, 188, 22, 0.15);
  color: #ffbc16;
}

.chip.red {
  background-color: rgba(255, 89, 28, 0.15);
  color: #ff591c;
}

.chip.purple {
  background-color: rgba(183, 54, 255, 0.15);
  color: #b736ff;
}

.chip.blue {
  background-color: rgba(120, 110, 255, 0.15);
  color: #786eff;
}

.card.light-blue {
  background-color: #fff;
  color: #1fbfdd;
}

.card.green {
  background-color: #fff;
  color: #41cc22;
}

.card.gray {
  background-color: #fff;
  color: #4a4a4a;
}

.card.yellow {
  background-color: #fff;
  color: #ffbc16;
}

.card.red {
  background-color: #fff;
  color: #ff591c;
}

.card.purple {
  background-color: #fff;
  color: #b736ff;
}

.card.blue {
  background-color: #fff;
  color: #786eff;
}

.chip.gluu {
  background-color: #00b572;
  color: #fff;
}

.capitalize {
  text-transform: capitalize;
}

.modal-super-container {
  position: relative;
  text-align: center;
  top: 10vh;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 90%;
  margin: auto;
}

.modal-super-container:focus {
  outline: none;
}

.modal-container {
  display: inline-block;
  margin: auto;
  text-align: left;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 3.5em;
  }
  .app-body, .container-body {
    padding-bottom: 35em !important; 
  }
  div.MuiContainer-root {
    padding: 0;
  }
  .sm-center {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 601px) and (max-width: 960px) {
  .app-body, .container-body {
    padding-bottom: 28em !important;
  }
  div.MuiContainer-root {
    padding: 0;
  }
  .sm-center {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1280px) {
  .app-container {
    padding-left: 3em;
    padding-right: 3em;
  }
  .md-center {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1920px) {
  .app-container {
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
  .lg-center {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1921px) {
  .app-container {
    padding-left: 8em !important;
    padding-right: 8em !important;
  }
  .xl-center {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}
