body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #f4f5f7;
  position: relative;
  padding-top: 4em;
  padding-bottom: 20em;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 3em;
    padding-bottom: 50em;
  }

  div.MuiContainer-root {
    padding: 0;
  }
}
